@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
  --box-gap: 40px;
  --el-gap: 8px;
  --wid-pad: 24px;
  --bord-rad: 6px;
  --bord-wid: 1px;
  --rgb-05: rgb(12.75, 12.75, 12.75);
  --rgb-10: rgb(25.5, 25.5, 25.5);
  --rgb-15: rgb(38.25, 38.25, 38.25);
  --rgb-20: rgb(51, 51, 51);
  --rgb-25: rgb(63.75, 63.75, 63.75);
  --rgb-30: rgb(76.5, 76.5, 76.5);
}

* {
  box-sizing: border-box;
  font-family: "Quicksand";
  font-size: calc(10px + 1vmin);
  font-weight: normal;
  color: white;
  transition: opacity 200ms;
}

.app, body {
  display: grid;
  gap: var(--box-gap);
  width: 100%;
  height: 100vh;
  background-color: var(--rgb-05);
  justify-content: center;
  justify-items: center;
  align-items: start;
}

button {
  width: fit-content;
  padding: 2px 6px;
  background-color: var(--rgb-20);
  border: var(--bord-wid) solid var(--rgb-25) !important;
  border-radius: var(--bord-rad);
  font-size: 16px;
}

.pointer:hover {
  cursor: pointer;
  opacity: 0.75;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

ul {
  margin: 0;
}

ul {
  padding-left: 35px !important;
}

li {
  padding: 0;
}

.task-box {
  display: grid;
  padding: 30px;
  row-gap: 20px;
  background-color: var(--rgb-10);
  border: var(--bord-wid) solid var(--rgb-15);
  border-radius: var(--bord-rad);
}

.all-tasks {
  display: inherit;
  row-gap: 16px;
}

.task,
.answer {
  display: inherit;
  row-gap: var(--el-gap);
  border-radius: var(--bord-rad);
}

.task {
  background-color: var(--rgb-15);
  border: var(--bord-wid) solid var(--rgb-20);
  padding: var(--el-gap) 10px;
}

.answer {
  width: 100%;
  font-style: italic;
  background-color: var(--rgb-10);
  border: var(--bord-wid) solid var(--rgb-20);
  padding: 10px 12px;
}

#first {
  margin-top: var(--box-gap);
  grid-row: 1;
  grid-column: 1 / 4;
}

#last {
  margin-bottom: var(--box-gap);
}

input {
  background-color: var(--rgb-20);
  border: var(--bord-wid) solid var(--rgb-25);
  border-radius: var(--bord-rad);
}

.break {
  max-width: 400px;
  word-wrap: break-word;
}

.todo-element {
  display: grid;
  justify-content: space-between;
  column-gap: var(--el-gap);
  padding: 4px 0;
}

.todo-element p {
  max-width: 100%;
  word-wrap: break-word;
}

.todo-element * {
  grid-row: 1;
}

.action-buttons {
  display: grid;
  column-gap: var(--el-gap);
}

.span-button {
  width: 100%;
  display: grid;
  justify-content: space-between;
  column-gap: var(--el-gap);
}

.span-button * {
  grid-row: 1;
}

.delete-icon {
  width: 16px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--rgb-10);
}

::-webkit-scrollbar-thumb {
  background-color: var(--rgb-20)
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--rgb-25);
}